<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <title>Nästa Färja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="../Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="../Content/bootstrap-responsive.min.css" />
</head>
<body>
    <div class="container">
        <form>
            <fieldset>
                <legend>Nästa Färja</legend>
                <div>
                    <label for="ferryInfo">Färjeled</label>
                    <select id="ferryInfo" data-bind="options: ferryInfos, optionsText: 'Name', value: selectedFerryInfo, optionsCaption: 'Välj färjeled...', event: { change: updateFerryRouteList }"></select>
                </div>
                <div>
                    <label for="ferryRoute">Avgår från</label>
                    <select id="ferryRoute" data-bind="options: ferryRoutes, value: selectedFerryRoute, optionsCaption: 'Välj färjeläger...', event: { change: getNextDepartures }"></select>
                </div>
            </fieldset>
        </form>
        <ul data-bind="foreach: nextDepartures">
            <li>
                <span data-bind="text: TimeOfDay"></span>
            </li>
        </ul>
    </div>
    
    <div id="Scripts">
        <script type="text/javascript" src="../Scripts/jquery-2.0.2.min.js"></script>
        <script type='text/javascript' src='../Scripts/knockout-2.3.0.js'></script>
        <script type='text/javascript' src='../Scripts/knockout.mapping-latest.js'></script>
        <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="../Scripts/App/NextDeparture.js"></script>

        <script type="text/javascript">
            ko.applyBindings(new NextDepartureViewModel());
        </script>
    </div>
</body>
</html>
